body {
 background-image:url(texture-1516400_1920.jpg);
}
.jtTest {
 background-image: url(wine-1655325_1920.jpg);
 
 min-height:250px;
 background-position: right bottom;
}
.websitetitle {
 margin-bottom:-30px;
}
.white {
 background-color:white;
}
.red {
 background-color:red;
}
.black {
 background-color:black;
}
.gray {
 background-color:gray;
}
.orange {
 background-color:orange;
}
.blue {
 background-color:blue;
}
.yellow {
 background-color:yellow;
}
.green {
 background-color:green;
}
.lime {
 background-color:lime;
}
.purple {
 background-color:purple;
}
.gradient {
 background: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,100));
}
.orangeGradient {
 background: linear-gradient(orange, #e69500);
}
.headerdiv {
 margin:0;
 margin-top:-99px;
 border-bottom: 5px solid orange;
}
.headertab {
 margin-top:30px;
 color:white;
 text-shadow: 1px 1px 1px black;
}
.headertab:hover {
 border-bottom: 5px solid yellow;
 margin-bottom:-5px;
}
.gallerythumbnail {
 width:100px;
 height:100px;
 float:left;
 margin:10px;
 margin-left:-5px;
}
.gallerytitle {
 margin-top:50px;
}
.gallery {
 padding-bottom:15px;
}
.homepagedetails {
 padding-top:20px;
}
.AboutUs {
 height:201px;
 margin-bottom:15px;
}
.Contact {
 height:420px;
 margin-bottom:15px;
}
.News {
 height:420px;
 margin-bottom:15px;
}
.FloatLeft {
 float: left;
}
.FloatRight {
 float: right;
}
.footer {
 /*margin-top:25px;*/
 height:200px;
 background: linear-gradient(rgba(0,0,0,100),rgba(0,0,0,255));
}
