.jtTest {
 /*background-image: url(http://cdn.lamborghini.com/content/models/Centenario_LP_770-4/Lamborghini-Centenario-geneva-motorshow-2016-Slide-1.jpg);
 */
 min-height:250px;
 background-position:center;
 padding-bottom: 5px;
 border-bottom: 5px solid orange;
}
.websitetitle {
 margin-bottom:-30px;
}
.white {
 background-color:white;
}
.red {
 background-color:red;
}
.black {
 background-color:black;
}
.gray {
 background-color:gray;
}
.orange {
 background-color:orange;
}
.blue {
 background-color:blue;
}
.yellow {
 background-color:yellow;
}
.green {
 background-color:green;
}
.lime {
 background-color:lime;
}
.purple {
 background-color:purple;
}
.colorbar {
 margin:0;
 min-height:5px;
}
.headerdiv {
 margin:0;
 margin-top:-99px;
}
.headertab {
 margin-top:30px;
 padding-bottom:-5px;
}
.headertab:hover {
 border-bottom: 5px solid yellow;
}
.gallerythumbnail {
 width:100px;
 height:100px;
 float:left;
 margin:10px;
 margin-left:-5px;
}
.gallerytitle {
 margin-top:50px;
}
.gallery {
 padding-bottom:15px;
}
.homepagedetails {
 padding-top:20px;
}
.AboutUs {
 height:201px;
 margin-bottom:15px;
}
.Contact {
 height:420px;
 margin-bottom:15px;
}
.News {
 height:420px;
 margin-bottom:15px;
}
.FloatLeft {
 float: left;
}
.FloatRight {
 float: right;
}
.footer {
 margin-top:25px;
 height:200px;
}
